@charset "UTF-8";

.logo-plimo{
	height: 78px;
	width: 208px;
}
.pt-0{
	display: flex;
	justify-content: flex-end;
}
.container_inputmood{
	width: 620px;
	display: flex;
	justify-content: center;
}
.inputmood{
	width: 470px;
}
.submit-btn{
	width: 150px;
}
.analysis-complete{
	width: 100%;
}
.display-4{
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

.slider-container {
    overflow: hidden !important;
    margin: 0 auto;
    height: 280px;
}

.slider-track {
    
    display: flex !important;
    flex-wrap: nowrap !important; 
    
    height: 100%;
    
    animation: slide-left-to-right 80s linear infinite !important; 
    
}

.slider-track > .col {
    flex: 0 0 20% !important; 
    max-width: 20% !important;
    min-width: 20% !important;
    margin-left: 20px;
    margin-right: 20px;
}


@keyframes slide-left-to-right {
    0% {
        transform: translateX(-200%); 
    }
    
    100% {
        transform: translateX(0); 
    }
}

/* 이미지를 채우기 위해 내부 콘텐츠의 패딩과 테두리를 제거하거나 최소화합니다. */
.slider-track .rounded-3 {
    border: none !important; /* 테두리 제거 */
    padding: 0 !important;   /* 내부 패딩 제거 */
    background-color: transparent !important; /* 배경색 투명으로 설정 */
}




