@charset "UTF-8";

.logo-heartbeat{
	height: 78px;
	width: 208px;
}
.pt-0{
	display: flex;
	justify-content: flex-end;
}
.container_inputmood{
	width: 620px;
	display: flex;
	justify-content: center;
}
.inputmood{
	width: 470px;
}
.submit-btn{
	width: 150px;
}
.analysis-complete{
	width: 100%;
}
.display-4{
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}
